<div class="container">
  <div class="param-name">{{item?.name}}</div>
  <div class="top-content">
    <div class="picture">
      <img src={{item?.mediaLink}} alt="Unfound">
    </div>
    <div class="about">
      {{item?.description}}
    </div>
  </div>
  <div class="param-name">ПАРАМЕТРЫ</div>
  <div class="bottom-content">
    <div *ngFor="let attribute of this.item?.attributes" class="item-comtainer">
      <div class="item-disc">{{attribute?.name}}</div>
      <div class="item-disc">{{attribute?.value}}</div>
    </div>
  </div>
</div>
