<div class="container">
  <div class="param-name">{{this.item.Name}}</div>
  <div class="top-content">
    <div class="picture">
      <img src={{this.item.MediaLink}} alt="Unfound">
    </div>
    <div class="about">
      {{this.item.Description}}
    </div>
  </div>
  <div class="param-name">ПАРАМЕТРЫ</div>
  <div class="bottom-content">
    <div *ngFor="let attrebute of this.item.Attributes" class="item-comtainer">
      <div class="item-disc">{{attrebute.Name}}</div>
      <div class="item-disc">{{attrebute.Value}}</div>
    </div>
  </div>
</div>
