<div class="content-container">
  <div  class="main-grid-container">
    <mat-list  role="list">
      <mat-list-item role="listitem"> Pepper </mat-list-item>
      <mat-list-item role="listitem"> Salt </mat-list-item>
      <mat-list-item role="listitem"> Paprika </mat-list-item>
      <mat-list-item role="listitem"> Pepper </mat-list-item>
      <mat-list-item role="listitem"> Salt </mat-list-item>
      <mat-list-item role="listitem"> Paprika </mat-list-item>
      <mat-list-item role="listitem"> Pepper </mat-list-item>
      <mat-list-item role="listitem"> Salt </mat-list-item>
      <mat-list-item role="listitem"> Paprika </mat-list-item>
      <mat-list-item role="listitem"> Pepper </mat-list-item>
      <mat-list-item role="listitem"> Salt </mat-list-item>
      <mat-list-item role="listitem"> Paprika </mat-list-item>
      <mat-list-item role="listitem"> Pepper </mat-list-item>
      <mat-list-item role="listitem"> Salt </mat-list-item>
      <mat-list-item role="listitem"> Paprika </mat-list-item>
      <mat-list-item role="listitem"> Pepper </mat-list-item>
      <mat-list-item role="listitem"> Salt </mat-list-item>
      <mat-list-item role="listitem"> Paprika </mat-list-item>
      <mat-list-item role="listitem"> Pepper </mat-list-item>
      <mat-list-item role="listitem"> Salt </mat-list-item>
      <mat-list-item role="listitem"> Paprika </mat-list-item>
      <mat-list-item role="listitem"> Pepper </mat-list-item>
      <mat-list-item role="listitem"> Salt </mat-list-item>
      <mat-list-item role="listitem"> Paprika </mat-list-item>
      <mat-list-item role="listitem"> Pepper </mat-list-item>
      <mat-list-item role="listitem"> Salt </mat-list-item>
      <mat-list-item role="listitem"> Paprika </mat-list-item>
      <mat-list-item role="listitem"> Pepper </mat-list-item>
      <mat-list-item role="listitem"> Salt </mat-list-item>
      <mat-list-item role="listitem"> Paprika </mat-list-item>
      <mat-list-item role="listitem"> Pepper </mat-list-item>
      <mat-list-item role="listitem"> Salt </mat-list-item>
      <mat-list-item role="listitem"> Paprika </mat-list-item>
      <mat-list-item role="listitem"> Pepper </mat-list-item>
      <mat-list-item role="listitem"> Salt </mat-list-item>
      <mat-list-item role="listitem"> Paprika </mat-list-item>
      <mat-list-item role="listitem"> Pepper </mat-list-item>
      <mat-list-item role="listitem"> Salt </mat-list-item>
      <mat-list-item role="listitem"> Paprika </mat-list-item>
      <mat-list-item role="listitem"> Pepper </mat-list-item>
      <mat-list-item role="listitem"> Salt </mat-list-item>
      <mat-list-item role="listitem"> Paprika </mat-list-item>
      <mat-list-item role="listitem"> Pepper </mat-list-item>
      <mat-list-item role="listitem"> Salt </mat-list-item>
      <mat-list-item role="listitem"> Paprika </mat-list-item>
     </mat-list>
  </div>

  <div class="side-news-grid-container">
    <div  class="news-grid-container">
      <mat-list  role="list-news">
        <mat-list-item role="listitem-news"> Pepper </mat-list-item>
        <mat-list-item role="listitem-news"> Salt </mat-list-item>
        <mat-list-item role="listitem-news"> Paprika </mat-list-item>
        <mat-list-item role="listitem"> Pepper </mat-list-item>
        <mat-list-item role="listitem"> Salt </mat-list-item>
        <mat-list-item role="listitem"> Paprika </mat-list-item>
        <mat-list-item role="listitem"> Pepper </mat-list-item>
        <mat-list-item role="listitem"> Salt </mat-list-item>
        <mat-list-item role="listitem"> Paprika </mat-list-item>
        <mat-list-item role="listitem"> Pepper </mat-list-item>
        <mat-list-item role="listitem"> Salt </mat-list-item>
        <mat-list-item role="listitem"> Paprika </mat-list-item>
        <mat-list-item role="listitem"> Pepper </mat-list-item>
        <mat-list-item role="listitem"> Salt </mat-list-item>
        <mat-list-item role="listitem"> Paprika </mat-list-item>
        <mat-list-item role="listitem"> Pepper </mat-list-item>
        <mat-list-item role="listitem"> Salt </mat-list-item>
        <mat-list-item role="listitem"> Paprika </mat-list-item>
        <mat-list-item role="listitem"> Pepper </mat-list-item>
        <mat-list-item role="listitem"> Salt </mat-list-item>
        <mat-list-item role="listitem"> Paprika </mat-list-item>
       </mat-list>
    </div>

    <div  class="news-grid-container">
      <mat-list  role="list-news">
        <mat-list-item role="listitem-news"> Pepper </mat-list-item>
        <mat-list-item role="listitem-news"> Salt </mat-list-item>
        <mat-list-item role="listitem-news"> Paprika </mat-list-item>
        <mat-list-item role="listitem"> Pepper </mat-list-item>
        <mat-list-item role="listitem"> Salt </mat-list-item>
        <mat-list-item role="listitem"> Paprika </mat-list-item>
        <mat-list-item role="listitem"> Pepper </mat-list-item>
        <mat-list-item role="listitem"> Salt </mat-list-item>
        <mat-list-item role="listitem"> Paprika </mat-list-item>
        <mat-list-item role="listitem"> Pepper </mat-list-item>
        <mat-list-item role="listitem"> Salt </mat-list-item>
        <mat-list-item role="listitem"> Paprika </mat-list-item>
        <mat-list-item role="listitem"> Pepper </mat-list-item>
        <mat-list-item role="listitem"> Salt </mat-list-item>
        <mat-list-item role="listitem"> Paprika </mat-list-item>
        <mat-list-item role="listitem"> Pepper </mat-list-item>
        <mat-list-item role="listitem"> Salt </mat-list-item>
        <mat-list-item role="listitem"> Paprika </mat-list-item>
        <mat-list-item role="listitem"> Pepper </mat-list-item>
        <mat-list-item role="listitem"> Salt </mat-list-item>
        <mat-list-item role="listitem"> Paprika </mat-list-item>
       </mat-list>
    </div>
  </div>

</div>
