<div class="content-container">
  <div class="main-grid-container">

    <div *ngFor="let item of posts" class="item-comtainer">
      <div [innerHTML]="item.content.rendered" class="item-disc"></div>
      </div>

  </div>

  <div class="side-news-grid-container">
    <div  class="news-grid-container">
      <div class="item-comtainer">
        <div class="short-item-disc">Новости дня:</div>
        </div>
        <div *ngFor="let item of posts" class="short-item-comtainer">
          <div [innerHTML]="item.content.rendered" class="short-item-disc"></div>
          </div>
    </div>
  </div>

</div>
