<div class="container">
  <div class="left-flex">
    <div class="top-content">
      <div class="item-comtainer">
        <div (click)="getContent('Cargo', 0)" class="item-disc">Корпус</div>
      </div>
      <div class="item-comtainer">
        <div  (click)="getContent('Motherboard', 0)" class="item-disc">Материнская плата</div >
      </div>
      <div class="item-comtainer">
        <div  (click)="getContent('Power', 0)" class="item-disc">Блок питания</div >
      </div>
      <div class="item-comtainer">
        <div  (click)="getContent('CPU', 0)" class="item-disc">Процессор</div >
      </div>
      <div class="item-comtainer">
        <div  (click)="getContent('RAM', 1)" class="item-disc">ОЗУ1</div >
      </div>
      <div class="item-comtainer">
        <div  (click)="getContent('RAM', 2)" class="item-disc">ОЗУ2</div >
      </div>
      <div class="item-comtainer">
        <div  (click)="getContent('RAM', 3)" class="item-disc">ОЗУ3</div >
      </div>
      <div class="item-comtainer">
        <div  (click)="getContent('RAM', 4)" class="item-disc">ОЗУ4</div >
      </div>
      <div class="item-comtainer">
        <div  (click)="getContent('GPU', 0)" class="item-disc">Видеокарта</div >
      </div>
      <div class="item-comtainer">
        <div  (click)="getContent('Cooler', 0)" class="item-disc">Охлождение</div >
      </div>
    </div>
    <div class="bottom-content">
      <div class="bottom-item-comtainer">
        <div class="item-disc">Объем:</div>
        <div class="item-disc">16 ГБ</div>
        </div>
    </div>
  </div>
  <div class="right-flex">
    <div (click)="saveAssembly()" class="save-button">СОХРАНИТЬ</div>
    <div *ngFor="let item of items" class="item-comtainer">
      <div class="picture-disc">
        <img src={{item?.mediaLink}} alt="Unfound">
      </div>  
      <input type="radio" id="itm" name={{item?.name}} >
      <label (click)=" addToList(item.dbId, item.hardwareType) " class="item-disc" for="itm">
        {{item?.hardwareType}}:  {{item?.name}} 
      </label>
      </div>
      
  </div>
</div>

addToPc(item?.id, item?.hardwareType)