<div class="container">
  <div class="left-flex">
    <div class="top-content">
      <div class="item-comtainer">
        <div class="item-disc" style="background-color: rgb(97, 61, 61);">ОЗУ</div>
        </div>
        <div class="item-comtainer">
          <div class="item-disc">ЦП</div>
          </div>
          <div class="item-comtainer">
            <div class="item-disc">Видеокарта</div>
            </div>
            <div class="item-comtainer">
              <div class="item-disc">Блок питания</div>
              </div>
              <div class="item-comtainer">
                <div class="item-disc">Блок питания</div>
                </div>
    </div>
    <div class="bottom-content">
      <div class="bottom-item-comtainer">
        <div class="item-disc">Объем:</div>
        <div class="item-disc">16 ГБ</div>
        </div>
    </div>
  </div>
  <div class="right-flex">
    <div class="item-comtainer">
      <div class="picture-disc">
        <img src="https://content2.onliner.by/catalog/device/header/d221b391063d15550222934e4b65ba80.jpeg" alt="альтернативный текст">
      </div>
      <div class="item-disc" style="background-color: rgb(97, 61, 61);">ОЗУ: HyperX Predator 2x8GB DDR4 PC4-25600</div>
      </div>
      <div class="item-comtainer">
        <div class="picture-disc">
          <img src="https://content2.onliner.by/catalog/device/header/bd746c29435133b6d513465cb5cb8d77.jpeg" alt="альтернативный текст">
        </div>
        <div class="item-disc">ОЗУ: Crucial Ballistix 2x8GB DDR4 PC4-25600</div>
        </div>
        <div class="item-comtainer">
          <div class="picture-disc">
            <img src="https://content2.onliner.by/catalog/device/header/e0b5bc636868f76c39a5bb10346dfca9.jpeg" alt="альтернативный текст">
          </div>
          <div class="item-disc">ОЗУ: G.Skill Aegis 2x8GB DDR4 </div>
          </div>
          <div class="item-comtainer">
            <div class="item-disc" style="background-color: rgb(247, 18, 18);">СОХРАНИТЬ</div>
            </div>
  </div>
</div>
