<div class="content-container">

  <div class="filter-container">
    <div class="filt-comtainer">
      <div class="item-disc">ТИП: ОЗУ</div>
      </div>
      <div class="filt-comtainer">
        <div class="item-disc">Категория: Любая</div>
        </div>
        <div class="filt-comtainer">
          <div class="item-disc">Цена: Любая</div>
          </div>
          <div class="filt-comtainer">
            <div class="item-disc">Производитель: Любой</div>
            </div>
            <div class="filt-comtainer">
              <div class="item-disc">Каличество: Любое</div>
              </div>
              <div class="filt-comtainer">
                <div class="item-disc">DDR: Любое</div>
                </div>
  </div>

  <div  routerLinkActive="active" class ="items-container">
    <div *ngFor="let item of items" class="item-comtainer">
      <div class="picture-disc">
        <img src={{item?.mediaLink}} alt="Unfound">
      </div>
      <div routerLink="/item/{{item?.dbId}}/{{item?.hardwareType}}" class="item-disc">{{item?.name}}</div>
      </div>
</div>
